@use "var.scss";
@use "./table";

body {
  //background-color: $dark;
  @apply bg-gray-800;
  color: white;
}

.btn {
  &:not(.-px) {
    @apply px-5;
  }

  &:not(.-py) {
    @apply py-2;
  }

  i.fa {
    @apply mr-1;
  }

  &.gray {
    @apply bg-gray-800 border border-gray-600;
    @apply hover:bg-gray-700;
  }
}


.form {
  select {
    @apply bg-gray-800 border border-gray-600 p-2 outline-gray-900 rounded;
    @apply text-gray-300;
  }
}


button:disabled {
  @apply cursor-not-allowed opacity-50
}

.text-antiquewhite {
  color: antiquewhite;
}

.blink {
  animation: blinker 1s linear infinite;
}

.blink-slow {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}