# App Name
VITE_APP_NAME="OwnClipboard"

# Server
VITE_APP_SERVER_URL="http://localhost:3004"

# Encryption
VITE_APP_MD5_LOOP_COUNT=20

# Use cdn for external scripts e.g. fontawesome, animate.css e.t.c
VITE_APP_USE_CDN_FOR_EXTERNAL_SCRIPTS=false